/* best view in =>1300px width device */

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    max-width: 1300px;
    margin: auto;
    background-color: #fff;
}

p {
    font-size: 18px;
}

.primary-text {
    color: #FD6E0A;
}

.primary-btn {
    background-color: #FD6E0A;
    color: #fff;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    padding: 15px 20px;
    margin-right: 15px;
    cursor: pointer;
}

header {
    background: #FFF8F3 url(images/developer.png) no-repeat left;
    background-size: 70px 600px;
    border-radius: 10px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    color: #181818;
}

nav {
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav>ul>li {
    font-size: 20px;
    list-style: none;
    margin-right: 50px;
}

nav li>a {
    text-decoration: none;
    color: #181818;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    background: url(images/header_bg.png) no-repeat right bottom;
    background-size: 620px 420px;
}

.banner-text {
    max-width: 600px;
}

.banner-text>h3 {
    font-size: 45px;
    margin-bottom: 0;
    color: #474747;
}

.banner-text>h1 {
    font-size: 85px;
    margin: 5px 0 0 0;
    color: #181818;
}

.banner-text>p {
    color: #757575;
    margin: 20px 0 30px 0;
    font-size: 18px;
}

.banner-image img {
    height: 550px;
    margin-right: 50px;
}

.about {
    margin: 100px 200px;
    background-color: #FFF8F3;
    text-align: center;
    padding: 50px;
    width: 1200px;
    margin: 150px auto;
    border-radius: 10px;

}

.section-container {
    width: 950px;
    margin: auto;
}

.section-title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.section-description {
    color: #757575;
    text-align: center;
}

.about-info {
    display: flex;
    justify-content: space-around;
}

.about-info h4 {
    color: #757575;
    font-weight: normal;
}

.about-info p {
    font-weight: bold;
    color: #474747;
}

.cart {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.cart-container {
    margin-right: 20px;
    padding: 22px;
    width: 270px;
    box-shadow: -1px 0px 9px -3px;
    border-radius: 10px;
}

.cart-container p {
    font-size: 16px;
    color: #757575;
}

.resume {
    margin: 150px 0;
}

.resume h2 {
    font-size: 35px;
    text-align: center;
}

.resume h3 {
    font-size: 30px;
}

.resume h4 {
    font-size: 25px;
}

.resume-container {
    display: flex;
    gap: 20px;
}

.what-i-do {
    margin-bottom: 130px;
}

.summary h1 {
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    color: #181818;
    margin-bottom: 130px;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.container h3 {
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}

.container h4 {
    font-size: 20px;
    color: #757575;
    font-weight: 600;
}

.container p {
    width: 510px;
    color: #757575;
    font-size: 16px;
}

.container hr {
    width: 560px;
}

.summary .primary-btn {
    display: flex;
    margin: 50px auto 110px auto;
}

footer {
    text-align: center;
    margin-top: 200px;
}